# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.adoc text
*.c text
*.csv text
*.css text
*.h text
*.html text
*.md text
*.ps1 text
*.py text
*.txt text
*.xml text
*.xsd text
*.yml text
.gitattributes text
.gitignore text
.gitmodules text
