[submodule "docs/Reference-FMUs"]
	path = docs/Reference-FMUs
	url = https://github.com/modelica/Reference-FMUs.git
[submodule "docs/theme"]
	path = docs/theme
	url = git@github.com:modelica/ma-asciidoctor-theme.git
