/*
:root {
  --ma-bg-color: #1b1b1b;
  --ma-fg-color: #fff;
  --ma-blue: #0062cc;
  --ma-red: #dc3545;
}
*/

:root,[data-ma-theme="light"] {

    --ma-nav-height: 60px;

    --ma-body-color: #212529;
    --ma-body-bg: #fff;
    
    --ma-secondary-bg: rgba(245, 245, 245, 1);
    --ma-secondary-active-bg: #dddddd;

    --ma-tertiary-color: rgba(33, 37, 41, 0.5);
    --ma-tertiary-bg: #f8f9fa;

    --ma-primary-bg-subtle: #cfe2ff;
    --ma-primary-border-subtle: #9ec5fe;

    --ma-success-bg-subtle: #d1e7dd;
    --ma-success-border-subtle: #a3cfbb;

    --ma-light-bg-subtle: #fcfcfd;
    --ma-light-border-subtle: #e9ecef;

    --ma-example-bg: #cff4fc;
    --ma-example-border-color: #0dcaf0;

    --ma-border-color: #dee2e6;

    --ma-pre-bg: #f8f9fa;

    --ma-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ma-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --ma-blue: #0062cc;
    /*--ma-blue: #5ea9f0;*/
    --ma-red: #dc3545;

    .content img {
        filter: none;
    }
}

[data-ma-theme="dark"] {

    --ma-body-color: #dee2e6;
    --ma-body-bg: #212529;
    
    --ma-secondary-bg: #2b3034;
    --ma-secondary-active-bg: #585a5c;
    
    --ma-blue: #488ad0;
    --ma-border-color: #495057;
    --ma-pre-bg: #1b1f22;

    --ma-light-bg-subtle: #313335;
    --ma-light-border-subtle: #606467;

    pre.pygments {
        background: var(--ma-pre-bg);
    }

    .content img {
        filter: invert(0.8);
    }
}

.admonitionblock {
    border-left: 4px solid var(--ma-light-border-subtle);
    background: var(--ma-light-bg-subtle);
    /* font-style: italic; */
}

.admonitionblock > table td.icon {
    display: none;
}

.exampleblock > .content {
    background: var(--ma-light-bg-subtle);
    border-color: #e0e0dc;
    box-shadow: none;
    border-left-color: var(--ma-light-border-subtle);
    border-left-style: solid;
    border-right: none;
    border-width: 0 0 0 4px;
    border-radius: 0;
    font-style: italic;
}

table {
    background: var(--ma-body-bg);
}

table thead, table tfoot {
    background: var(--ma-secondary-bg);
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    /*color: rgba(0, 0, 0, .8);*/
    color: var(--ma-body-color);
}

tbody tr th, tbody tr th p, tfoot tr th, tfoot tr th p {
    color: var(--ma-body-color);
}

table.tableblock, th.tableblock, td.tableblock {
    border: 0 solid var(--ma-border-color);
}

body {
    font-family: var(--ma-font-sans-serif);
    background: var(--ma-body-bg);
    color: var(--ma-body-color);
    scrollbar-color: #9F9F9F #0000;
    scrollbar-width: thin;
}

table tr th, table tr td {
    color: var(--ma-body-color);
    background: var(--ma-body-bg);
}

.content img {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    /*filter: brightness(90%);*/
}

pre {
    color: var(--ma-body-color);
}

pre code, pre pre {
    color: var(--ma-body-color);
    font-style: normal !important;
}

:not(pre):not([class^=L]) > code {
    font-size: .9375em;
    font-style: normal !important;
    font-family: var(--ma-font-monospace);
    letter-spacing: 0;
    padding: .1em .5ex;
    word-spacing: -.15em;
    color: var(--ma-body-color);
    /*background: #f7f7f8;*/
    background: var(--ma-secondary-bg);
    border-radius: 4px;
    line-height: 1.45;
    text-rendering: optimizeSpeed;
}

.literalblock pre, .listingblock > .content > pre {
    border: 1px solid var(--ma-border-color);
    background: var(--ma-secondary-bg);
}

.literalblock pre, .listingblock>.content>pre:not(.highlight), .listingblock>.content>pre[class=highlight], .listingblock>.content>pre[class^="highlight "] {
    background: var(--ma-secondary-bg);
}

::-webkit-scrollbar-thumb {
    background: #ff00ae;
}

a {
    color: var(--ma-blue);
    text-decoration: none;
}

a:hover,a:focus{
    color: var(--ma-blue);
}

body.toc2 { 
    padding-top: var(--ma-nav-height);
}

#toc.toc2 {
    background: var(--ma-secondary-bg);
    border-right: none;
    top: var(--ma-nav-height);
    height: calc(100% - var(--ma-nav-height));
}

#toc.toc2 a {
    color: var(--ma-body-color);
    padding: 0 5px
}

#toctitle {
    color: var(--ma-body-color);
}

h2, h3, h4, h5 {
    color: var(--ma-body-color);
}

h2, h3, h4, h5, table, .dlist {
    scroll-margin-top: calc(var(--ma-nav-height) + 10px);
}

#header>h1:first-child, #header .details {
    color: var(--ma-body-color);
}

h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6 {
    color: var(--ma-body-color);
}

h4, h5, h6 {
    font-size: 1.4375em;
}

.admonitionblock>table td.content {
    color: var(--ma-body-color);
    border-left: none;
}

/* table captions */
table.tableblock.fit-content > caption.title {
    white-space: normal;
    width: auto;
}

/* captions */
.subheader, .admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
    color: var(--ma-body-color);
    font-family: var(--ma-font-sans-serif);
    font-style: normal;
}


@media screen and (min-width: 1280px) {

    #toc.toc2 {
        width: 30em;
    }

    body.toc2 {
        padding-left: 30em;
        padding-right: 0;
    }

}

/* scrollspy styles */
.active {
    background: var(--ma-secondary-active-bg);
    border-radius: 5px;
}

/* header styles */
.ma-header {
    background-color: #014376;
    position: fixed;
    top: 0;
    left: 0; 
    height: var(--ma-nav-height); 
    width: 100%; 
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0.2rem, rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem;
    transition: transform 0.25s cubic-bezier(0.1, 0.7, 0.1, 1), box-shadow 0.25s;
}

.ma-header-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 61rem;
    border: 1px solid red
}

.nav-button {
    color: #fff;
    width: 30px;
    height: 30px;
}

.nav-button svg {
    width: 100%;
    height: 100%;
}

.vertical-text {
    transform: rotate(-90deg) translate(-11em, 0);
    transform-origin: left top 0;
    float: left;
    display: inline-block;
    white-space: nowrap;
    width: 1em;
    height: 11em;
}

.toc-hidden {
  padding-left: 0 !important;
}

.imageblock {
    text-align: center;
}

.imageblock > .title {
    display: inline-block;
    margin-top: 0.5em;
}

.ma-header h1 {
    color: #fff;
    display: inline-block;
    font-weight: 200;
    font-size: 2.4rem;
    line-height: var(--menu-bar-height);
    text-align: center;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paragraph.lead>p, #preamble>.sectionbody>[class=paragraph]:first-of-type p {
    color: var(--ma-body-color);
}